{% extends "navigation.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}NOT FOUND ERROR{% endblock %}


{% block content %}
    <div style="font-weight: bold; font-size: xx-large" class="father">
        <div class="child">
        INTERNAL SERVER ERROR
        </div>
    </div>
{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
    .father {
    line-height: 300px;
    text-align: center;
}
.child {
    display: inline-block;
    vertical-align: middle;
    line-height: initial;
    text-align: left;
}

    </style>
{% endblock %}