{% extends "nav-side.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Image Analysis{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <br>
    <div style="margin-right: 30%">
        <div id="form">
            <form method="POST" action="" class="" autocomplete="off" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div>{{ form.file.label(class="ip-label") }}{{ form.file }}</div>
                <br>
                <div>{{ form.submit(class_="btn btn-primary") }}</div>
            </form>
        </div>
        <br>
        <br>
        <table class="table" id="result">
            <tbody>
            {% if data %}
                {% for i, j in data.items() %}
                    <tr>
                        <th>
                            {{ i }}
                        </th>
                        <th>
                            {{ j }}
                        </th>
                    </tr>
                {% else %}
                    <tr>
                        <th>
                            None
                        </th>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <th>
                        None
                    </th>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <br>
        <br>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        #form {
            display: block;
            text-align: center;
        }

        form {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
        }
    </style>
{% endblock %}