{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}NMAP{% endblock %}

{% block navbar %}
    {{ nav.top.render (renderer='just_div') }}
{% endblock %}

{% block content %}
    <br>
    <div id="form">
        <form method="post" action="" class="" autocomplete="off">
                 {{ form.hidden_tag() }}
            <div>{{ form.ip.label(class="ip-label") }}{{ form.ip }}</div>
            <div>{{ form.submit(class_="btn btn-primary") }}</div>
        </form>
    </div>

    <table class="table" id="result">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Vendor</th>
      <th scope="col">OS Family</th>
      <th scope="col">OS Generation</th>
      <th scope="col">Accuracy of Detection</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        {% if osinfo %}
            {% for i, j in osinfo %}
                <th>
                    {{ j }}
                </th>
            {% endfor %}
        {% else %}

        {% endif %}
    </tr>
  </tbody>
</table>
{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
    #form{
        display: block;
        text-align: center;
    }
    form {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
    </style>
{% endblock %}
