{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}NOT FOUND ERROR{% endblock %}

{% block navbar %}
<div class="navbar-inverse" id="nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
             data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">AIS</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/aboutus">About Us</a> </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div style="font-weight: bold; font-size: xx-large" class="father">
        <div class="child">
        NOT FOUND 404

        </div>
    </div>
{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
    .father {
    line-height: 300px;
    text-align: center;
}
.child {
    display: inline-block;
    vertical-align: middle;
    line-height: initial;
    text-align: left;
}

    </style>
{% endblock %}