{% extends "nav-side.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Port Scan{% endblock %}


{% block content %}
    <br>
    <div style="margin-right: 50%;">
        <div id="form">
            <form method="post" action="" class="" autocomplete="off">
                {{ form.hidden_tag() }}
                <div>{{ form.ip.label(class="ip-label") }}{{ form.ip }}</div>
                <div>{{ form.scanType.label }}{{ form.scanType }}</div>
                <br>
                <div>{{ form.submit(class_="btn btn-primary") }}</div>
            </form>
        </div>

        <table class="table" id="result">
            <thead>
            <tr>
                <th scope="col">Port Name</th>
                <th scope="col">Port Status</th>
            </tr>
            </thead>
            <tbody>
            {% if result %}
                {% for i, j in result.items() %}
                    <tr>
                        <th>
                            {{ i }}
                        </th>
                        {% if j == true %}
                            <th id="green">
                                Open
                            </th>
                        {% elif j == false %}
                            <th id="red">
                                Closed
                            </th>
                        {% else %}
                            <th>

                            </th>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}

            {% endif %}
            </tbody>
        </table>
        <div id="form">
            {#     <div class="loader"></div>#}
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        #form {
            display: block;
            text-align: center;
        }

        form {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
        }

        #green {
            color: green;
        }

        #red {
            color: red;
        }

        .loader {
            border: 10px solid #f3f3f3; /* Light grey */
            border-top: 10px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 2s linear infinite;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
{% endblock %}

