{% extends "nav-temp.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}OS FP ICMP{% endblock %}


{% block content %}
    <br>
    <div style="margin-right: 30%">
    <div id="form">
        <form method="post" action="" class="" autocomplete="off">
                 {{ form.hidden_tag() }}
            <div>{{ form.ip.label(class="ip-label") }}{{ form.ip }}</div>
            <br>
            <div>{{ form.submit(class_="btn btn-primary") }}</div>
        </form>
    </div>
        <br>
        <br>

    {% if osname %}

    {% if osname == "windows" %}
       <div class="image-center">
        </div>
        <div class="card border-dark mb-3 text-center" style="max-width: 18rem; border: 2px solid red; border-radius: 5px; padding: 2px">
                    <img src="../static/images/windows.jpeg" style="width: 160px" alt="Could not Identify">

          <div class="card-header"><strong>Operating System: <span style="color: red">{{ osname }}</span></strong></div>
          <a href="https://microsoft.com" class="btn btn-primary">ReadMore</a>
          <div class="card-body">
          </div>


    {% elif osname == "linux" %}
         <div class="image-center">
        </div>
        <div class="card border-dark mb-3 text-center" style="max-width: 18rem; border: 2px solid red; border-radius: 5px; padding: 2px">
                    <img src="../static/images/linux.png" style="width: 160px" alt="Could not Identify">

          <div class="card-header"><strong>Operating System: <span style="color: red">{{ osname }}</span></strong></div>
          <a href="https://www.linux.org/" class="btn btn-primary">ReadMore</a>
          <div class="card-body">
          </div>
    {% else %}
        <div class="image-center">
        </div>
        <div class="card border-dark mb-3 text-center" style="max-width: 18rem; border: 2px solid red; border-radius: 5px; padding: 2px">
                    <img src="../static/images/question.jpg" style="width: 160px" alt="Could not Identify">

          <div class="card-header"><strong>Operating System: <span style="color: red">{{ osname }}</span></strong></div>
          <a href="/icmp" class="btn btn-primary">ReadMore</a>
          <div class="card-body">
          </div>

    {% endif %}
    {% else %}
    {% endif %}
    </div>
{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
    .image-center{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #form{
        display: block;
        text-align: center;
    }
    form {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
    .card {
        float: none;
        margin: 0 auto 10px;
    }
    </style>
{% endblock %}